@import 'src/app/shared/style/_fonts.scss';
@import 'src/app/shared/style/_colors.scss';
@import 'src/app/shared/style/_mixins.scss';

.total {
  @include flex-column-start;

  width: 368px;
  background-color: $banner-white;
  overflow: hidden;
  border-radius: 20px;
  padding: 24px;
  gap: 16px;

  &__info-item {
    @include flex-row-space;
  }
  &__text {
    @include font-16-400;
    color: $common_text_color;
  }
  &__data {
    @include font-16-600;
    color: $common_text_color;
  }
  &__text-price {
    @include font-20-700;
    color: $normal_green_button;
  }
  &__data-price {
    @include font-20-700;
    color: $normal_green_button;
  }
}
.forOrder:not(:last-child) {
  border-bottom: 1px solid $stroke-color;
}
