@import 'src/app/shared/style/_fonts.scss';
@import 'src/app/shared/style/_colors.scss';

.catalog {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-top: 125px;

  &__goback-block {
    display: flex;
    width: 15%;
    background: inherit;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    outline: none;
    border: none;
    cursor: pointer;
  }

  i {
    font-size: 24px;
    color: $gray_text;
  }

  &__goback-text {
    font-family: $primary_font_family;
    font-size: 16px;
    font-weight: 400;
    line-height: 24.32px;
    text-align: left;
    color: $gray_text;
  }

  &__cards {
    width: 1150px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__technologies {
    display: flex;
    flex-direction: row;
    gap: 16px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 48px;

    &__technology {
      width: 215px;
      padding: 16px 32px 16px 32px;
      border-radius: 10px;
      background-color: $background_white;
      font-size: 16px;
      font-weight: 600;
      line-height: 24.32px;
      text-align: center;
      cursor: pointer;
      transition-duration: 0.5s;

      &:hover {
        background-color: $hover_small_green_button;
      }
    }
  }
}
