@import 'src/app/shared/style/_fonts.scss';
@import 'src/app/shared/style/_colors.scss';

.button {
  &__dark {
    background-color: $common_text_color;
    color: $focus_green_button;
    border: none;
    font-size: 16px;
    font-weight: 700;
    line-height: 24.32px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: $small_text_color;
      color: $hover_green_button;
    }

    &:focus {
      background-color: $small_text_color;
      color: $hover_green_button;
    }

    &:active {
      background-color: $common_text_color;
      color: $click_green_button;
    }

    &:disabled {
      background-color: $blocked_gray_button;
      color: $blocked_light_text;
    }
  }
  &__light {
    background-color: inherit;
    color: $common_text_color;
    border: 1px solid $normal_green_button;
    font-size: 16px;
    font-weight: 700;
    line-height: 24.32px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: $small_text_color;
      color: $hover_green_button;
    }

    &:focus {
      background-color: $small_text_color;
      color: $hover_green_button;
    }

    &:active {
      background-color: $common_text_color;
      color: $click_green_button;
    }

    &:disabled {
      background-color: $blocked_gray_button;
      color: $blocked_light_text;
    }
  }
  &__red {
    background-color: $root_critic;
    color: $banner-white;
    border: 1px solid $root_critic;
    font-size: 16px;
    font-weight: 700;
    line-height: 24.32px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color:  $root_critic_dark;
          border: 1px solid $root_critic_dark;

      color:$banner-white;

    }
    &:focus {
        background-color:  $root_critic_dark;
          border: 1px solid $root_critic_dark;

      color:$banner-white;

    }
    &:active {
      background-color: inherit;
      color:$root_critic_dark;
                border: 1px solid $root_critic_dark;

    }

    &:disabled {
      background-color: inherit;
      color: $root_critic;
                border: 1px solid $root_critic;

    }
  }
}
