<div class="home-page">
  <app-banner></app-banner>
  <catalog></catalog>
  <card-track
    [typeOfTrack]="categories.new"
    [countOfPages]="3"
    [pageSize]="4"
    [title]="'NEW'"></card-track>
  <card-track
    [typeOfTrack]="categories.mostViews"
    [countOfPages]="3"
    [pageSize]="4"
    [title]="'Learners are viewing'"></card-track>
  <card-track
    [typeOfTrack]="categories.bestsellers"
    [typeOfCard]="'horizontal'"
    [countOfPages]="6"
    [pageSize]="1"
    [title]="'Bestsellers'"></card-track>

  <app-popular-categories></app-popular-categories>
</div>
