<div class="card">
  <div class="card__img">
    <img [src]="card.photo" alt="" />
  </div>
  <div class="card__detailed-info">
    <div class="card__title-description">
      <div class="card__title">
        <span>{{ card.name }}</span>
      </div>
      <div class="card__buy">
        <div class="card__time">
          <i class="uil uil-clock-three"></i>
          <div class="card__time-value">{{ card.learningTime }}</div>
        </div>
      </div>
      <div class="card__description">{{ card.description }}</div>
    </div>
  </div>
</div>
