<div class="change-password">
  <div class="change-password__main">
    <span class="change-password__title">Changing password</span>
    <span class="change-password__message"
      >Your new password must not match your old password. Password must be at
      least 8 characters. <br />
      New password information will be sent to your email</span
    >
    <form [formGroup]="repasswordForm" class="change-password__form">
      <div class="change-password__form-item-password">
        <label
          for="inputCurrentPassword"
          class="change-password__label"
          [ngClass]="{
            'change-password__label-invalid':
              repasswordForm.get('currentpassword')?.invalid &&
              (repasswordForm.get('currentpassword')?.dirty ||
                repasswordForm.get('currentpassword')?.touched)
          }"
          >Current Password
        </label>

        <input
          title="currentpassword"
          formControlName="currentpassword"
          [type]="showCurrentPassword ? 'text' : 'password'"
          id="inputCurrentPassword"
          autocomplete="off" 
          class="change-password__input"
          [ngClass]="{
            'change-password__input-invalid':
              repasswordForm.get('currentpassword')?.invalid &&
              (repasswordForm.get('currentpassword')?.dirty ||
                repasswordForm.get('currentpassword')?.touched)
          }"
          placeholder="Enter current password" 
          (blur)="onPasswordBlur()"
          (input)="onPasswordInput()" 
          />
          <span
          *ngIf="isCurrentWrong"
         class="change-password__current-password-wrong" 
          >
          Your current password is wrong
        </span>
        <span 
          class="change-password__toggle-password-icon"
          (click)="togglePasswordCurrentVisibility()"
          [ngClass]="{
            'change-password__toggle-password-icon-invalid':
              repasswordForm.get('currentpassword')?.invalid &&
              (repasswordForm.get('currentpassword')?.dirty ||
                repasswordForm.get('currentpassword')?.touched)
          }">
          <i
            [ngClass]="
              !showCurrentPassword ? 'uil uil-eye-slash' : 'uil uil-eye'
            "></i>
        </span>
      </div>

      <div class="change-password__form-item-password">
        <label
          for="inputNewPassword"
          class="change-password__label"
          [ngClass]="{
            'change-password__label-invalid':
              repasswordForm.get('newpassword')?.invalid &&
              (repasswordForm.get('newpassword')?.dirty ||
                repasswordForm.get('newpassword')?.touched)
          }"
          >New Password
        </label>

        <input
          title="newpassword"
          formControlName="newpassword"
          [type]="showNewPassword ? 'text' : 'password'"
          id="inputNewPassword"
          class="change-password__input"
          [ngClass]="{
            'change-password__input-invalid':
              repasswordForm.get('newpassword')?.invalid &&
              (repasswordForm.get('newpassword')?.dirty ||
                repasswordForm.get('newpassword')?.touched)
          }"
          placeholder="Enter new password" />
        <span
          class="change-password__toggle-password-icon"
          (click)="toggleNewPasswordVisibility()"
          [ngClass]="{
            'change-password__toggle-password-icon-invalid':
              repasswordForm.get('newpassword')?.invalid &&
              (repasswordForm.get('newpassword')?.dirty ||
                repasswordForm.get('newpassword')?.touched)
          }">
          <i
            [ngClass]="
              !showNewPassword ? 'uil uil-eye-slash' : 'uil uil-eye'
            "></i>
        </span>
      </div>
      <div class="change-password__form-item-password">
        <input
          title="passwordRepeat"
          formControlName="passwordRepeat"
          [type]="showRepeatPassword ? 'text' : 'password'"
          id="inpuRepeatPassword"
          class="change-password__input change-password__input"
          [ngClass]="{
            'change-password__input-invalid':
              repasswordForm.get('passwordRepeat')?.invalid &&
              (repasswordForm.get('passwordRepeat')?.dirty ||
                repasswordForm.get('passwordRepeat')?.touched)
          }"
          placeholder="Re-type new password" />
        <span
          class="change-password__toggle-password-icon change-password__toggle-password-icon-repeat"
          (click)="togglePasswordRepeatVisibility()"
          [ngClass]="{
            'change-password__toggle-password-icon-invalid':
              repasswordForm.get('passwordRepeat')?.invalid &&
              (repasswordForm.get('passwordRepeat')?.dirty ||
                repasswordForm.get('passwordRepeat')?.touched)
          }">
          <i
            [ngClass]="
              !showRepeatPassword ? 'uil uil-eye-slash' : 'uil uil-eye'
            "></i>
        </span>
      </div>
    </form>
  </div>
  <div class="change-password__buttons">
    <app-button
      [text]="'Cancel'"
      [style]="'light'"
      [width]="'272px'"
      [disabled]="false"
      [padding]="'16px 32px'"
      (click)="closeChangePasswordForm()"></app-button>
    <app-button
      [text]="'Change'"
      [style]="'dark'"
      [width]="'272px'"
      [disabled]="repasswordForm.invalid"
      [padding]="'16px 32px'"
      (click)="onChangePasswordButton()"></app-button>
  </div>
</div>
<div
  class="app-change-password-backdrop"
  (click)="closeChangePasswordForm()"></div>
