@import 'src/app/shared/style/_fonts.scss';
@import 'src/app/shared/style/_colors.scss';

.header {
  width: 100%;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $background_white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    padding: 32px 48px;
    border-bottom: 1px solid $stroke-color;
  }
  &__container-homelink {
    font-size: 24px;
    font-weight: 700;
    color: $common_text_color;
    text-decoration: none;
    transition:
      background-color 0.3s ease,
      border 0.3s ease;
  }
  &__container-homelink:hover {
    cursor: pointer;
  }
  &__container-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
  }
}
