<header class="header">
  <div class="header__container">
    <div class="header__container-homelink">
      <a
        type="button"
        title="home"
        class="header__container-homelink">
        {{ pageTitle }}
      </a>
    </div>
    <app-search></app-search>
    <div class="header__container-right">
      <app-login></app-login>
      <app-cart></app-cart>
    </div>
  </div>
</header>
<app-change-password *ngIf="changePasswordFormOpen"></app-change-password>
<app-forgot-password *ngIf="forgotPasswordFormOpen"></app-forgot-password>
