     <div class="delivery__info">
        <span class="delivery__subtitle">Delivery</span>

        <span
          >You can find your purchase in
          <a [routerLink]="['/my-skills']" class="delivery__link">My Skills</a>
          page after ordering. But also we can duplicate your items to e-mail.Do
          you want duplicate purchase to
          <span class="delivery__email">{{ currentUserEmail }}</span
          >?</span
        >
        <div class="delivery__radio-block">
          <label class="radio-container"
            >Yes
            <input type="radio" name="yesno" value="yes" />
            <span class="checkmark"></span>
          </label>

          <label class="radio-container"
            >No
            <input type="radio" name="yesno" value="no" checked />
            <span class="checkmark"></span>
          </label>
        </div>
      </div>