<div class="success">
  <span class="success__hooray">
    <img src="../../../../assets/images/hooray.png" alt="hooray" width="32"
  /></span>

  <span class="success__title">Thank you!</span>
  <span class="success__subtitle"
    >Your payment has been successfully done!</span
  >
  <span class="success__text">
    Now you can find your skills at My Skills page. We sent all order
    information to your e-mail.
  </span>

  <button type="button" class="success__bookmark" [routerLink]="['/my-skills']">
    <img
      src="../../../assets/icons/books.svg"
      alt="img"
      class="success__bookmark-img" /><span>Go to My Skills</span>
  </button>
</div>
