@import '../../style/colors';
@import '../../style/fonts';

.card {
  border-radius: 20px;
  display: flex;
  height: 412px;
  width: 272px;
  flex-direction: column;
  background-color: #fff;
  font-family: $primary_font_family;

  &__img {
    width: 272px;
    height: 180px;
    border-radius: 20px 20px 0px 0px;
    cursor: pointer;
    // background: url('../../../../assets/images/test-card-img.jpeg') center/cover
    //   no-repeat;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__rating {
    display: flex;
    gap: 8px;

    &__star-rating {
      width: 50%;
    }

    &__box {
      display: flex;
      flex-direction: row;
      gap: 4px;
    }

    &__reviews,
    &__value {
      display: inline-block;
      cursor: pointer;

      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      text-align: center;

      color: $gray_text;
    }
  }

  &__info {
    width: 272px;
    display: flex;
    flex-direction: column;
    height: 218px;
    justify-content: space-between;
    padding: 16px 16px 16px 16px;
  }

  &__img {
    width: 272px;
    height: 194px;
    border-radius: 20px 20px 0px 0px;
    // background: url("../../../../assets/images/test-card-img.jpeg") center/cover no-repeat;
    overflow: hidden;
  }

  &__detailed-info {
    display: flex;
    gap: 8px;
    align-items: center;
    color: $gray_text;

    &__text {
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      text-align: left;
    }

    &__dot {
      font-size: 16px;
      font-weight: 700;
      line-height: 24.32px;
      text-align: left;
    }

    i {
      font-size: 16px;
    }
  }

  &__title {
    font-size: 16px;
    font-weight: 600;
    line-height: 24.32px;
    text-align: left;
    color: $common_text_color;

    span {
      cursor: pointer;
    }

    &:hover {
      color: $hover_title_text;
      transition: 0.2;
    }
  }

  &__description {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: $gray_text;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__buy {
    display: flex;
    // margin-top: auto;
    align-items: center;
    justify-content: space-between;

    i {
      font-size: 20px;
      color: $normal_green_button;
    }
  }

  &__price {
    display: flex;
    gap: 8px;

    &__value {
      font-size: 20px;
      font-weight: 700;
      line-height: 30.4px;
      text-align: left;
      color: $common_text_color;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    height: 44px;
    aspect-ratio: 1/1;
    background-color: $hover_small_green_button;
    background-image: url('../../../../assets/icons/bookmark-1.svg');
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &__icon:hover {
    background-image: url('../../../../assets/icons/bookmark-2.svg');
  }

  &__icon.active {
    background-image: url('../../../../assets/icons/bookmark-3.svg');
  }
}
