@import '../../shared/style/colors';
@import '../../shared/style/fonts';
@import 'src/app/shared/style/_mixins.scss';

.side-bar {
  height: 100vh;
  width: 208px;
  @include flex-column-space;
  align-items: flex-start;
  position: fixed;
  padding: 24px 24px 0px 24px;
  background-color: $background_white;
  color: $common_text_color;
  font-family: $primary_font_family;
  border-right: 1px solid $stroke-color;
  &__logo {
    width: 72px;
    height: 60px;
    margin: 0 auto;
  }
  &__main {
    @include flex-column-center;
    gap: 40px;
  }
  &__list {
    @include flex-column-start;
    align-items: flex-start;
    padding: 0px;
    margin: 0;
  }
  &__list > li:last-child {
    border-top: 1px solid $stroke-color;
  }
  &__list-top {
    @include flex-row-center;
    list-style: none;
    padding-bottom: 32px;
    gap: 32px;
  }
  &__list-bottom {
    padding-top: 32px;
    list-style: none;
  }
}

.languages {
  width: 100%;
  cursor: pointer;
  padding: 10px 0 36px 0;

  @include flex-column-space;

  gap: 2px;

  .flex-row {
    display: flex;

    background-color: $hover_small_green_button;
    padding: 8px 12px;
    border-radius: 10px;
    justify-content: space-between;
    transition: 0.5s;
    .main-language {
      width: 100%;
    }
    .arrow {
      width: 24px;
      height: 24px;
      mask: url(../../../assets/icons/angle-down.svg);
      background-color: $common_text_color;
    }
  }

  span {
    @include font-14-500;
  }

  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    position: absolute;
    bottom: 42px;
    width: 100%;
    padding: 0;
    margin: 0;
    transition: 0.5s;

    li {
      background-color: $background_color;
      font-size: 12px;
      padding: 8px 12px;
      width: 100%;
    }

    :last-child {
      border-radius: 0px 0px 10px 10px;
    }
    :first-child {
      border-radius: 10px 10px 0px 0px;
    }
  }
}
