<ng-container *ngIf="afterPaymentCards$ | async as savedCards">
  <div *ngIf="savedCards.length > 0; else noCards" class="my-skills">
    <div class="my-skills__list">
      <app-my-skill-card
        *ngFor="let card of savedCards"
        [card]="card"
        (cardDeleted)="onCardDeleted(card.id)"></app-my-skill-card>
    </div>
  </div>
</ng-container>
<ng-template #noCards>
  <p class="my-skills__no-cards">You don’t have any Skills yet ;(</p>
  <app-button
    [text]="'Go to catalog'"
    [style]="'dark'"
    [width]="'560'"
    [disabled]="false"
    [padding]="'16px 32px'"
    [routerLink]="['/']"></app-button>
</ng-template>
