<div class="what-is-in-card">
  <span class="what-is-in-card__title-text">What is in this skill</span>
  <ul class="what-is-in-card__list">
    <li class="what-is-in-card__list-item">
      <i class="uil uil-check"></i>
      <div class="what-is-in-card__list-text-block">
        <span class="what-is-in-card__list-text-block-title">{{
          product.name
        }}</span>
        <span class="what-is-in-card__list-text-block-text">{{
          product.description
        }}</span>
      </div>
    </li>
    <li class="what-is-in-card__list-item">
      <i class="uil uil-check"></i>
      <div class="what-is-in-card__list-text-block">
        <span class="what-is-in-card__list-text-block-title">{{
          product.name
        }}</span>
        <span class="what-is-in-card__list-text-block-text">{{
          product.description
        }}</span>
      </div>
    </li>
    <li class="what-is-in-card__list-item">
      <i class="uil uil-check"></i>
      <div class="what-is-in-card__list-text-block">
        <span class="what-is-in-card__list-text-block-title">{{
          product.name
        }}</span>
        <span class="what-is-in-card__list-text-block-text">{{
          product.description
        }}</span>
      </div>
    </li>
    <li class="what-is-in-card__list-item">
      <i class="uil uil-check"></i>
      <div class="what-is-in-card__list-text-block">
        <span class="what-is-in-card__list-text-block-title">{{
          product.name
        }}</span>
        <span class="what-is-in-card__list-text-block-text">{{
          product.description
        }}</span>
      </div>
    </li>
    <li class="what-is-in-card__list-item">
      <i class="uil uil-check"></i>
      <div class="what-is-in-card__list-text-block">
        <span class="what-is-in-card__list-text-block-title">{{
          product.name
        }}</span>
        <span class="what-is-in-card__list-text-block-text">{{
          product.description
        }}</span>
      </div>
    </li>
  </ul>
</div>
