@import 'src/app/shared/style/_fonts.scss';
@import 'src/app/shared/style/_colors.scss';

.signup {
  position: fixed;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 752px;
  margin: 20px auto;
  padding: 40px;
  gap: 32px;
  align-items: center;
  background-color: white;
  font-family: $primary_font_family;
  border-radius: 20px;
  &__logo {
    width: 48px;
    height: 40px;
  }
  &__main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
  }
  &__join {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 32px;
  }
  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 31.2px;
    text-align: center;
    color: $common_text_color;
  }
  &__switcher {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 498px;
    height: 40px;
    padding: 2px;
    background-color: $background_color;
    border-radius: 10px;
  }
  &__switcher-signup {
    background-color: inherit;
    color: $common_text_color;
    font-size: 14px;
    line-height: 150%;
    width: 247px;
    outline: none;
    border: none;
    border-radius: 10px;
  }
  &__switcher-signup:disabled {
    background-color: $focus_green_button;
  }
  &__switcher-login {
    background-color: inherit;
    color: $common_text_color;
    font-size: 14px;
    line-height: 150%;
    outline: none;
    border: none;
    width: 247px;
    border-radius: 10px;
  }
  &__switcher-login:disabled {
    background-color: $focus_green_button;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
  }
  &__form-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
  }
  &__form-item-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    position: relative;
  }
  &__label {
    font-size: 14px;
    font-weight: 500;
    line-height: 21.28px;
    text-align: left;
    color: $gray_text;
    width: 100%;
  }
  &__input {
    width: 100%;
    height: auto;
    padding: 12px 24px;
    gap: 16px;
    border-radius: 10px;
    border: 1px solid $stroke-color;
    background-color: $input-color;
    &:focus {
      outline: $focus_green_button;
      border: 1px solid $focus_green_button;
    }
    &::placeholder {
      font-size: 16px;
      font-weight: 400;
      line-height: 24.32px;
      text-align: left;
      color: $light_grey;
    }
  }
  &__toggle-password-icon {
    font-size: 24px;
    color: $common_text_color;
    position: absolute;
    top: 37px;
    right: 24px;
    cursor: pointer;
    &:hover {
      cursor: pointer;
    }
  }
  .signup__form-item:focus-within .signup__label {
    color: $focus_green_button;
  }
  &__form-password-requirement {
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: $blocked_gray_button;
  }
  &__if-forgot {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  &__forgot {
    font-size: 14px;
    font-weight: 500;
    line-height: 150%; //21.28px;
    color: $normal_green_button;
    cursor: pointer;
  }
  &__separator {
    display: flex;
    width: 100%;
    position: relative;
    gap: 16px;
    justify-content: center;
    align-items: center;
  }

  &__separator-or-text {
    display: flex;

    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: $blocked_gray_button;
  }

  &__separator-line-left {
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 50%;
    left: 0;
    width: 312px;
    transform: translateY(-100%);
    border-bottom: 1px solid $stroke-color;
  }

  &__separator-line-right {
    display: flex;

    position: absolute;
    top: 50%;
    right: 0;
    width: 312px;
    transform: translateY(-100%);
    border-bottom: 1px solid $stroke-color;
  }
  &__button-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }
  &__button {
    width: 328px;
    padding: 12px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: inherit;
    color: $common_text_color;
    border: 1px solid $normal_green_button;
    font-size: 16px;
    font-weight: 700;
    line-height: 24.32px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
      background-color: $small_text_color;
      color: $hover_green_button;
    }

    &:focus {
      background-color: $small_text_color;
      color: $hover_green_button;
    }

    &:active {
      background-color: $common_text_color;
      color: $click_green_button;
    }

    &:disabled {
      background-color: $blocked_gray_button;
      color: $blocked_light_text;
    }
  }
}
.app-signup-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}
