<div class="signup">
  <img src="../../../assets/SUBSkill.svg" alt="img" class="signup__logo" />
  <div class="signup__main">
    <app-goback
      *ngIf="continueWithEmailClicked"
      (click)="gobackButton()"></app-goback>
    <div class="signup__join">
      <div class="signup__switcher">
        <button
          class="signup__switcher-login"
          [disabled]="loginActive"
          (click)="!continueWithEmailClicked ? toggleLoginButton() : null">
          Login
        </button>
        <button
          class="signup__switcher-signup"
          [disabled]="!loginActive"
          (click)="toggleSignUpButton()">
          SignUp
        </button>
      </div>
      <span class="signup__title">Join SubSkill for free</span>
      <form [formGroup]="authForm" class="signup__form">
        <div
          class="signup__form-item"
          *ngIf="!continueWithEmailClicked || loginActive">
          <label for="inputName" class="signup__label">Email</label>
          <input
            title="email"
            formControlName="email"
            type="text"
            id="inputEmail"
            class="signup__input"
            placeholder="your.email@example.com" />
        </div>
        <div class="signup__form-item" *ngIf="continueWithEmailClicked">
          <label for="inputName" class="signup__label">Full name</label>
          <input
            title="username"
            formControlName="username"
            type="text"
            id="inputName"
            class="signup__input"
            placeholder="John Johnson" />
        </div>
        <div
          class="signup__form-item-password"
          *ngIf="continueWithEmailClicked || loginActive">
          <label for="inputPassword" class="signup__label">Password </label>

          <input
            title="password"
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
            id="inputPassword"
            class="signup__input"
            placeholder="Enter your password" />
          <span
            class="signup__toggle-password-icon"
            (click)="togglePasswordVisibility()">
            <i
              [ngClass]="
                !showPassword ? 'uil uil-eye-slash' : 'uil uil-eye'
              "></i>
          </span>

          <span class="signup__form-password-requirement" *ngIf="!loginActive"
            >Password must be at least 8 characters</span
          >
        </div>
      </form>
    </div>
  </div>
  <div class="signup__if-forgot">
    <app-button
      *ngIf="!continueWithEmailClicked || loginActive"
      [text]="!loginActive ? 'Continue with email' : 'Login with email'"
      [style]="'dark'"
      [width]="'672px'"
      [disabled]="false"
      [padding]="'16px 32px'"
      (click)="
        loginActive ? onLigInButton() : onContinueWithEmailButton()
      "></app-button>
    <span
      class="signup__forgot"
      *ngIf="loginActive"
      (click)="openForgotPassword.emit()"
      >Forgot your password?</span
    >
  </div>

  <app-button
    *ngIf="continueWithEmailClicked"
    [text]="'Join Subskill'"
    [style]="'dark'"
    [width]="'672px'"
    [disabled]="false"
    [padding]="'16px 32px'"
    (click)="!loginActive ? onSingUpButton() : onLigInButton()"></app-button>
  <div class="signup__separator" *ngIf="!continueWithEmailClicked">
    <span class="signup__separator-line-left"></span>
    <span class="signup__separator-or-text">or</span>
    <span class="signup__separator-line-right"></span>
  </div>
  <div class="signup__button-block" *ngIf="!continueWithEmailClicked">
    <button type="button" class="signup__button">
      <img src="./../../../assets/icons/social/facebook2.svg" />
      <span class="signup__button-text"
        >{{ !loginActive ? 'Continue' : 'Login' }} with Facebook</span
      >
    </button>
    <button type="button" class="signup__button">
      <img src="./../../../assets/icons/social/google.svg" />

      <span class="signup__button-text"
        >{{ !loginActive ? 'Continue' : 'Login' }} with Google</span
      >
    </button>
  </div>
</div>
<div class="app-signup-backdrop" (click)="closeSignUpForm()"></div>
