<div
  class="signup"
  [ngClass]="{
    signup__modaltype: isModalType,
    signup__pagetype: !isModalType
  }">
  <button
    *ngIf="isModalType"
    type="button"
    class="signup__close"
    aria-label="Close"
    (click)="closeSignUpForm()">
    <i class="uil uil-multiply"></i>
  </button>
  <img
    src="../../../assets/LogoSmall.svg"
    alt="img"
    class="signup__logo"
    *ngIf="isModalType" />
  <div class="signup__main">
    <app-goback
      *ngIf="continueWithEmailClicked"
      (click)="gobackButton()"></app-goback>
    <div class="signup__join">
      <div
        class="signup__switcher"
        [ngClass]="{
          'signup__switcher-page': !isModalType,
          signup__switcher: isModalType
        }">
        <button
          [ngClass]="{
            'signup__switcher-signup-page': !isModalType,
            'signup__switcher-signup': isModalType
          }"
          [disabled]="loginActive"
          (click)="!continueWithEmailClicked ? toggleLoginButton() : null">
          Login
        </button>
        <button
          [ngClass]="{
            'signup__switcher-signup-page': !isModalType,
            'signup__switcher-signup': isModalType
          }"
          [disabled]="!loginActive"
          (click)="toggleSignUpButton()">
          SignUp
        </button>
      </div>
      <span *ngIf="loginActive && isModalType" class="signup__title"
        >Welcome back</span
      >
      <ng-template *ngIf="!loginActive && isModalType" class="signup__title"
        >Join SubSkill for free</ng-template
      >
      <form [formGroup]="authForm" class="signup__form">
        <span *ngIf="isError" class="signup__error-phrase"
          >There is no registered user for this email. Please check the
          correctness of the entered data</span
        >
        <div
          class="signup__form-item"
          *ngIf="!continueWithEmailClicked || loginActive">
          <label
            for="inputEmail"
            class="signup__label"
            [ngClass]="{
              'signup__label-invalid':
                (authForm.get('email')?.invalid &&
                  (authForm.get('email')?.dirty ||
                    authForm.get('email')?.touched)) ||
                isError
            }"
            >Email</label
          >
          <input
            title="email"
            formControlName="email"
            type="text"
            id="inputEmail"
            class="signup__input"
            placeholder="your.email@example.com"
            [ngClass]="{
              'signup__input-invalid':
                (authForm.get('email')?.invalid &&
                  (authForm.get('email')?.dirty ||
                    authForm.get('email')?.touched)) ||
                isError
            }" />
          <span
            class="signup__error-message"
            *ngIf="
              !isError &&
              authForm.get('email')?.invalid &&
              (authForm.get('email')?.dirty || authForm.get('email')?.touched)
            ">
            Incorrect form of email
          </span>
        </div>
        <div
          class="signup__form-item"
          *ngIf="(!isModalType && !loginActive) || continueWithEmailClicked">
          <label for="inputName" class="signup__label">Full name</label>
          <input
            title="username"
            formControlName="username"
            type="text"
            id="inputName"
            class="signup__input"
            placeholder="John Johnson" />
        </div>
        <div
          class="signup__form-item-password"
          *ngIf="!isModalType || continueWithEmailClicked || loginActive">
          <label
            for="inputPassword"
            class="signup__label"
            [ngClass]="{
              'signup__label-invalid':
                (authForm.get('password')?.invalid &&
                  (authForm.get('password')?.dirty ||
                    authForm.get('password')?.touched)) ||
                isError
            }"
            >Password
          </label>

          <input
            title="password"
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
            id="inputPassword"
            class="signup__input"
            placeholder="Enter your password"
            [ngClass]="{
              'signup__input-invalid':
                (authForm.get('password')?.invalid &&
                  (authForm.get('password')?.dirty ||
                    authForm.get('password')?.touched)) ||
                isError
            }" />
          <span
            class="signup__toggle-password-icon"
            (click)="togglePasswordVisibility()">
            <i
              [ngClass]="{
                'signup__toggle-password-icon-invalid':
                  (authForm.get('password')?.invalid &&
                    (authForm.get('password')?.dirty ||
                      authForm.get('password')?.touched)) ||
                  isError,
                'uil uil-eye-slash': !showPassword,
                'uil uil-eye': showPassword
              }"></i>
          </span>
          <span
            *ngIf="!loginActive"
            [ngClass]="{
              'signup__form-passw-requirement':
                !authForm.get('password')?.dirty &&
                !authForm.get('password')?.touched,
              'signup__error-message':
                authForm.get('password')?.invalid &&
                (authForm.get('password')?.dirty ||
                  authForm.get('password')?.touched),
              'signup__form-password-requirement':
                !authForm.get('password')?.invalid &&
                (authForm.get('password')?.dirty ||
                  authForm.get('password')?.touched)
            }">
            Password must be at least 8 characters
          </span>

          <span
            *ngIf="
              !isError &&
              loginActive &&
              authForm.get('password')?.invalid &&
              (authForm.get('password')?.dirty ||
                authForm.get('password')?.touched)
            "
            class="signup__error-message">
            Wrong password
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="signup__if-forgot">
    <app-button
      *ngIf="(isModalType && !continueWithEmailClicked) || loginActive"
      [text]="!loginActive ? 'Continue with email' : 'Login with email'"
      [style]="'dark'"
      [width]="'672px'"
      [disabled]="false"
      [padding]="'16px 32px'"
      (click)="
        loginActive ? onLigInButton() : onContinueWithEmailButton()
      "></app-button>
    <span
      class="signup__forgot"
      *ngIf="loginActive"
      (click)="onForgotPasswordButton()"
      >Forgot your password?</span
    >
  </div>

  <app-button
    *ngIf="(!isModalType && !loginActive) || continueWithEmailClicked"
    [text]="'Join Subskill'"
    [style]="'dark'"
    [width]="'672px'"
    [disabled]="false"
    [padding]="'16px 32px'"
    (click)="!loginActive ? onSingUpButton() : onLigInButton()"></app-button>
  <div class="signup__separator" *ngIf="!continueWithEmailClicked">
    <span class="signup__separator-line-left"></span>
    <span class="signup__separator-or-text">or</span>
    <span class="signup__separator-line-right"></span>
  </div>
  <div class="signup__button-block" *ngIf="!continueWithEmailClicked">
    <button type="button" class="signup__button">
      <img src="./../../../assets/icons/social/facebook2.svg" />
      <span class="signup__button-text"
        >{{ !loginActive ? 'Continue' : 'Login' }} with Facebook</span
      >
    </button>
    <button type="button" class="signup__button">
      <img src="./../../../assets/icons/social/google.svg" />

      <span class="signup__button-text"
        >{{ !loginActive ? 'Continue' : 'Login' }} with Google</span
      >
    </button>
  </div>
</div>
<div *ngIf="isModalType" class="app-signup-backdrop"></div>
