$normal_green_button: #53ca3e;
$hover_green_button: #53e63e;
$click_green_button: #47ab35;
$focus_green_button: #53e63e;
$root_success_dark: #3b8b29;
$hover_title_text: #47823c;
$accent-root: #9fe894;
$stroke-color: #e8e8e8;
$hover_small_green_button: #eefcec;
$hover_small_green_button_bookmark: #9fe894;
$background_color: #f3f3f3;
$gray_text: #6f6e6e;
$light_grey: #9f9d9d;
$small_text_color: #626161;
$common_text_color: #444444;
$blocked_gray_button: #a9a9a9;
$blocked_light_text: #d9d9d9;
$star_yellow: #eecc00;
$background_white: #ffffff;
$background_search: #eefcec;
$hover_title_text: #47823c;
$banner-white: #fdfdfd;
$root-black: #2e2f33;
$root-dark_grey: #000000;

$input-color: #f9f9f9;
$root_critic: #ca573e;
$root_critic_dark: #a84d3a;
