@import './shared/style/_colors.scss';

.main {
  background-color: $background_color;
  width: 100%;
}

.main-content {
  flex: 1;
  margin-left: 208px;
  height: 100%;
}

app-footer {
  display: block;
  margin-left: 208px;
}
.sdsd {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10000;
}
