@import './shared/style/_colors.scss';

.main {
  background-color: $background_color;
  width: 100%;
}

.main-content {
  flex: 1;
  margin-left: 208px;
}

app-footer {
  display: block;
  margin-left: 208px;
}
