<div class="forgot-password">
  <div class="forgot-password__main">
    <span class="forgot-password__title">Changing password</span>
    <span class="forgot-password__message"
      >Your new password must not match your old password. Password must be at
      least 8 characters. <br />
      New password information will be sent to your email</span
    >
    <form [formGroup]="repasswordForm" class="signup__form">
      <div class="signup__form-item-password">
        <label for="inputPassword" class="signup__label">New Password </label>

        <input
          title="newpassword"
          formControlName="newpassword"
          [type]="showPassword ? 'text' : 'password'"
          id="inputNewPassword"
          class="signup__input"
          placeholder="Enter new password" />
        <span
          class="signup__toggle-password-icon"
          (click)="togglePasswordVisibility()">
          <i
            [ngClass]="!showPassword ? 'uil uil-eye-slash' : 'uil uil-eye'"></i>
        </span>
      </div>
      <div class="signup__form-item-password">
        <label for="inputPassword" class="signup__label">New Password </label>

        <input
          title="passwordRepeat"
          formControlName="passwordRepeat"
          [type]="showPassword ? 'text' : 'password'"
          id="inpuRepeatPassword"
          class="signup__input"
          placeholder="Re-type new password" />
        <span
          class="signup__toggle-password-icon"
          (click)="togglePasswordVisibility()">
          <i
            [ngClass]="!showPassword ? 'uil uil-eye-slash' : 'uil uil-eye'"></i>
        </span>
      </div>
    </form>
  </div>
  <div class="forgot-password__buttons">
    <app-button
      [text]="'Cancel'"
      [style]="'light'"
      [width]="'272px'"
      [disabled]="false"
      [padding]="'16px 32px'"
      (click)="onCancelButton()"></app-button>
    <app-button
      [text]="'Change'"
      [style]="'dark'"
      [width]="'272px'"
      [disabled]="false"
      [padding]="'16px 32px'"
      (click)="onChangePasswordButton()"></app-button>
  </div>
</div>
