<div class="forgot-password">
  <img
    src="../../../assets/LogoSmall.svg"
    alt="img"
    class="forgot-password__logo" />

  <div class="forgot-password__main">
    <span class="forgot-password__title">Password recovery</span>
    <span class="forgot-password__message"
      >Enter your e-mail, we will send you a link to reset your password</span
    >
    <form [formGroup]="forgotPasswordForm" class="forgot-password__form">
      <div class="forgot-password__form-item">
        <label for="inputEmail" class="forgot-password__label"     [ngClass]="{
            'forgot-password__label-invalid':
              forgotPasswordForm.invalid &&
              (forgotPasswordForm.dirty || forgotPasswordForm.touched)
          }" >Email</label>
        <input
          title="email"
          formControlName="email"
          type="text"
          id="inputEmail"
          class="forgot-password__input"
          placeholder="your.email@example.com"
          [ngClass]="{
            'forgot-password__input-invalid':
              forgotPasswordForm.invalid &&
              (forgotPasswordForm.dirty || forgotPasswordForm.touched)
          }" />
        <span
          class="forgot-password__error-message"
          *ngIf="
            forgotPasswordForm.invalid &&
            (forgotPasswordForm.dirty ||
              forgotPasswordForm.touched)
          ">
          Incorrect form of email
        </span>
      </div>
    </form>
  </div>

  <app-button
    [text]="'Send me a link'"
    [style]="'dark'"
    [width]="'672px'"
    [disabled]="false"
    [padding]="'16px 32px'"
    [disabled]="forgotPasswordForm.invalid"
    (click)="onForgotPasswordButton()"></app-button>
</div>
<div
  class="app-forgot-password-backdrop"
  ></div>
