@import 'src/app/shared/style/_fonts.scss';
@import 'src/app/shared/style/_colors.scss';
@import 'src/app/shared/style/_mixins.scss';
.forgot-password {
  position: fixed;
  top: 47%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1001;
  @include flex-column-center;
  width: 752px;
  border-radius: 20px;
  padding: 40px;
  gap: 32px;
  font-family: $primary_font_family;
  &__logo {
    margin: 0 auto;
    width: 48px;
    height: 40px;
  }
  &__main {
    @include flex-column-center;
    gap: 24px;
  }
  &__title {
    @include font-20-700;

    text-align: center;
    color: $common_text_color;
  }
  &__message {
    @include font-16-400;

    color: $common_text_color;
  }
  &__error-message {
    @include font-12-500;
    line-height: 130%;
    color: $root_critic;
  }
  &__buttons {
    @include flex-row-center;

    gap: 24px;
  }
  &__form {
    @include flex-column-center;

    gap: 24px;
    width: 100%;
  }
  &__form-item {
    @include flex-column-center;

    align-items: flex-start;
    gap: 8px;
  }

  &__label {
    font-size: 14px;
    font-weight: 500;
    line-height: 21.28px;
    text-align: left;
    color: $gray_text;
    width: 100%;
  }
  &__label-invalid {
    color: $root_critic;
  }
  &__input {
    width: 100%;
    height: auto;
    padding: 12px 24px;
    gap: 16px;
    border-radius: 10px;
    border: 1px solid $stroke-color;
    background-color: $input-color;
    &:focus {
      outline: $focus_green_button;
      border: 1px solid $focus_green_button;
    }
    &::placeholder {
      @include font-16-400;

      color: $light_grey;
    }
  }
  &__input-invalid {
    border: 1px solid $root_critic;
    &:focus {
      border: 1px solid $root_critic;
    }
  }
  .signup__form-item:focus-within .signup__label {
    color: $focus_green_button;
  }
}
.app-forgot-password-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000;
}
