@import 'src/app/shared/style/_fonts.scss';
@import 'src/app/shared/style/_colors.scss';

.product-card {
  display: flex;
  height: auto;
  width: 100%;
  flex-direction: column;
  background-color: $background_white;
  font-family: $primary_font_family;
  border-radius: 20px;
  padding: 24px;
  gap: 24px;

  &__title {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 0;
  }

  &__title-text {
    font-size: 32px;
    font-weight: 700;
    line-height: 130%;
    text-align: left;
    color: $small_text_color;

    span {
      cursor: pointer;
    }

    &:hover {
      color: $hover_title_text;
      transition: 0.2;
    }
  }

  &__title-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    height: 44px;
    aspect-ratio: 1/1;
    background-color: $hover_small_green_button;

    i {
      font-size: 20px;
      color: $normal_green_button;
    }

    &:hover {
      i {
        color: $hover_small_green_button_bookmark;
      }
    }

    &:active {
      i {
        color: $normal_green_button;
      }
    }
  }
  &__img {
    width: 48%;
    height: 248px;
    border-radius: 20px;
    background: url('../../../../assets/images/test-card-img.jpeg') center/cover
      no-repeat;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  &__rating {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    gap: 16px;
  }

  &__rating-value {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  &__rating-float {
    font-size: 14px;
    line-height: 150%;
    font-weight: 500;
    color: $gray_text;
    text-align: center;
  }
  &__rating-views {
    font-size: 14px;
    line-height: 21.28px;
    font-weight: 400;
    color: $small_text_color;
  }

  &__detailed-info {
    display: flex;
    flex-direction: column;
    height: 218px;
    justify-content: space-between;
    padding: 16px;
  }
  &__main {
    display: flex;
    width: 100%;
    gap: 4%;
  }
  &__left-part {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
  }
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8px;
  }

  &__description-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
    color: $gray_text;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__bottom-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;

    .uil-clock-three {
      display: inline-block;
      color: $normal_green_button;
      font-size: 24px;
      line-height: 1;
    }
  }
  &__time-text {
    color: $common_text_color;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
  }
  &__level {
    display: flex;
    gap: 8px;
    color: $common_text_color;
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
  }
  &__level-text {
    text-transform: capitalize;
  }
  &__buy-block {
    display: flex;
    gap: 16px;
  }
}
