<div class="product-card">
  <div class="product-card__title">
    <span class="product-card__title-text">{{ product.name }}</span>
    <div
      class="product-card__title-icon"
      (click)="toggleSaves($event, product.id)"
      [ngClass]="{ active: product.isSaved }"></div>
  </div>
  <div class="product-card__rating">
    <star-rating [rating]="product.rating"></star-rating>
    <div class="product-card__rating-value">
      <span class="product-card__rating-float">{{ product.rating }}</span>
      <span class="product-card__rating-views">({{ product.views }})</span>
    </div>
  </div>
  <div class="product-card__main">
    <div class="product-card__left-part">
      <div class="product-card__description">
        <div class="product-card__description-text">
          {{ product.description }}
        </div>
        <div class="product-card__level">
          <span class="product-card__level-text">{{
            product.level.toLowerCase()
          }}</span>
          <span>·</span>
          <span>{{ product.lessonsCount }} lessons</span>
        </div>
      </div>
      <div class="product-card__bottom-block">
        <div class="product-card__time">
          <i class="uil uil-clock-three"></i>
          <span class="product-card__time-text">{{
            product.learningTime
          }}</span>
        </div>
        <div class="product-card__buy-block">
          <app-button
            [text]="'Buy now'"
            [style]="'dark'"
            [width]="'272px'"
            [disabled]="false"
            [padding]="'16px 32px'"></app-button>

          <app-button
            *ngIf="!product.isIntoCart"
            [text]="'Add to cart'"
            [style]="'light'"
            [width]="'272px'"
            [disabled]="false"
            [padding]="'16px 32px'"
            (click)="toggleAddToCard(product.id)"></app-button>
          <button
            type="button"
            class="product-card__add-button"
            *ngIf="product.isIntoCart"
            [disabled]="false"
            (click)="toggleAddToCard(product.id)">
            <i class="uil uil-check"></i>
            <span>Added</span>
          </button>
        </div>
      </div>
    </div>
    <div class="product-card__img">
      <img [src]="product.photo" alt="" />
    </div>
  </div>
</div>
