@import 'src/app/shared/style/_fonts.scss';
@import 'src/app/shared/style/_colors.scss';

.product-card-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: 100%;
  height: auto;
  gap: 32px;
  padding: 10px 48px;
  overflow: hidden;
  &__bottom-block {
    display: flex;
    flex-direction: row;
    gap: 16px;
    width: 100%;
  }
  app-product-what-is-in-card {
    flex-grow: 1;
  }
}
